<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
<!--                <bean id="studentBean" class="com.cosmicdust.beans.StudentBean"/>   -->
        
        <bean id="studentBean"  class="com.cosmicdust.beans.StudentBean" >
        	<property name="studentName" value="Unknown"/>
        	<property name="rollNo" value="01" />
        	<property name="deptName" value="no-dept" />
        </bean>
        
        
        </beans>